/* @import url('../../assets/fonts/COMFORTAA-LIGHT'); */
@font-face {
    font-family: 'comfortaa-light';
    src: url('../../assets/fonts/COMFORTAA-LIGHT.TTF');
}
@font-face {
    font-family: 'comfortaa-regular';
    src: url('../../assets/fonts/COMFORTAA-REGULAR.TTF');
}
@font-face {
    font-family: 'comfortaa-bold';
    src: url('../../assets/fonts/COMFORTAA-BOLD.TTF');
}

body {
    margin: 0;
    font-family: 'comfortaa-bold'
}

.container , .banner{
    display: flex;
    flex-direction: column;
    width: 64vw;
    height: 100vh;
    flex: 1;
    background-color: #2E2E2E;
    color: #fff;
    justify-content: center;
    align-items: center;

}

.info {
    display:flex;
    flex-direction: column;
    position: relative;
    /* padding-top: 20vh; */
    width: 100%
  
}

.banner {
    position: absolute;
    right: 0;
    width: 36vw;
    height: 100vh;
    background-color: #2399AA;
    align-items: center;

}

.banner h1 {
    display: flex;
    color: #2E2E2E;
    font-size: 50px;
    margin-top: 20px;
}


.login {
    display: flex;
    justify-content: center;
}

.div_input , .inpSenha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.inpSenha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.iconCadeado {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 2em;
    height: 2em;
    border-radius: 100%;
}

#cadeado {
    color: #2E2E2E;
}

.input , .email , .senha {
    width: 25vw;
    height: 5vh;
    border-radius: 6px;
    border: none;
    /* box-shadow: rgb(22, 22, 22) 0px 5px ; */
    
    background-color: #2399AA;

    color: #fff;
    font-size: 20px;

}

.input::placeholder , .email::placeholder , .senha::placeholder {
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
}

.input:focus , .email:focus , .senha:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.email {
    margin-top: 30px
}

.senha {
    margin-top: 45px;
    margin-bottom: 45px
}


.btn {
    display: flex;
    justify-content:center;
}

.btn_entrar {
    width: 150px;
    Height: 40px;

    border: none;
    border-radius: 17px;

    background-color: #fff;
    color: #2399AA;
    font-size: 20px;
}

p {
    display: flex;
    justify-content:center;

    margin-top: 30px;

    font-size: 18px;

}


@media (max-width:1024px){
     .banner{
        display: none;
     
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%
    }
    .input{
        display: flex;
        width:350px;
        margin: 3vh
    }
}
