/* @import url('../../assets/fonts/COMFORTAA-LIGHT'); */
@font-face {
    font-family: 'comfortaa-light';
    src: url('../../assets/fonts/COMFORTAA-LIGHT.TTF');
}

@font-face {
    font-family: 'comfortaa-regular';
    src: url('../../assets/fonts/COMFORTAA-REGULAR.TTF');
}

@font-face {
    font-family: 'comfortaa-bold';
    src: url('../../assets/fonts/COMFORTAA-BOLD.TTF');
}

body {
    margin: 0;
    font-family: 'comfortaa-bold'
}

.container , .banner {
    display: flex;
    flex-direction: column;
    width: 64vw;
    height: 100vh;
    flex: 1;
    background-color: #2E2E2E;
    color: #fff;
    justify-content: center;
    align-items: center;

}

.info {
    display: flex;
    flex-direction: column;
    position: relative;
    /* padding-top: 20vh; */
    width: 100%
}

.banner {
    position: absolute;
    right: 0;
    width: 36vw;
    height: 100vh;
    background-color: #2399AA;
    align-items: center;

}

.banner h1 {
    display: flex;
    color: #2E2E2E;
    font-size: 50px;
    margin-top: 20px;
}


.arrowBack {
    position: absolute;
    top: 10px;
    left: 10px;

    padding: 10px;
    font-size: 35px;
    color: #fff;
}


.login {
    display: flex;
    justify-content: center;

    font-weight: bold;
    font-size: 40px;
}


.div_inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

p {
    display: flex;
    justify-content: center;

    margin-top: 30px;

    font-size: 18px;

}


@media (max-width:1024px) {
    .banner {
        display: none;

    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        right: 0;
    }

    .div_inputs span {
        width: 90%;
    }


}