/* @import url('../../assets/fonts/COMFORTAA-LIGHT'); */
@font-face {
    font-family: 'comfortaa-light';
    src: url('../../assets/fonts/COMFORTAA-LIGHT.TTF');
}
@font-face {
    font-family: 'comfortaa-regular';
    src: url('../../assets/fonts/COMFORTAA-REGULAR.TTF');
}
@font-face {
    font-family: 'comfortaa-bold';
    src: url('../../assets/fonts/COMFORTAA-BOLD.TTF');
}

body {
    margin: 0;
    font-family: 'comfortaa-bold';
}



.container , .banner{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 64vw;
    min-height: 100vh;
    flex: 1;
    background-color: #2399AA;
    color: #fff;
    justify-content: center;
    align-items: center;

}

.banner {
    position: absolute;
    left: 0;
    width: 36vw;
    background-color: #2E2E2E;
    background-image: url(../../assets/Banner_cadastro.png);
    background-size: 141%;
    box-shadow: 0px 100px #2E2E2E
}

.banner h1 {
    display: flex;
    color: #ffffff;
    font-size: 50px;
    margin-top: 20px;
}

.arrowBack {
    position: absolute;
    top: 10px;
    left: 10px;

    padding: 10px;
    font-size: 35px;
    color: #fff;
}

.cadastro {
    display: flex;
    justify-content: center;
    color: #2E2E2E;
    /* margin-bottom: 0; */

}


.div_inputs  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.linkLogin {
    color: white
}


@media (max-width:1024px){
     .banner{
        display: none;
     
    }
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 0;
    }
}
