body {
    margin: 0;
}

/* .home {
    position: relative;
} */

.container {
    width:93vw;
    margin-left: 5vw;
}



@media (min-width:1024px) {
    .container {
        width:93vw;
        margin-left: 5vw;
    }
}

img {
    width: 70vw;
}