body {
    margin: 0;
}

/* .home {
    position: relative;
} */

.container {
    width:100vw;
    margin-left: 0vw;
}




@media (min-width:1024px) {
    .container {
        width:93vw;
        margin-left: 5.35vw;
    }
    
}

img {
    width: 70vw;
}