body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.carrossel {
    position: relative;
    display: flex;
    justify-content: center;
}

.vitrine {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:1024px) {
    .container {
        width: 93vw;
        margin-left: 5vw;
    }

    .carrossel {
        width: 92.5vw;
        height: 40vh;
        margin-top: 2vw;
    }
}


@media (max-width:1024px) {
    .container {
        /* width: 100vw; */
        margin: 0vw;
    }

    .carrossel {
        width: 98vw;
        height: 20vh;
        margin-top: 2vw;
    }
}