

.container {
    width: 96vw;
    min-height: 84vh;
    margin-left: 4vw;
}

.topo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 24vh;  /* maior que a height da div: capa */
    width: 100%;
}


.capa {
    width: 100%;
    height: 15vh;
    background-color: #2399AA;
}

.fotoPerfil {
    position: absolute;
    bottom: 0;
    
    width: 18vh; /* igual ao tamanho das divs: capa e infosUser */
    height: 18vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    
    margin-top: 11vh;
}

.infosUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



@media (max-width:1024px) {
    .container {
        width: 100%;
        margin-left: 0vw;
    }
}