body {
    margin: 0;
    /* background-color: white; */
}

.container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: 8vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-size: 3rem;
}

.topo{
    width: 90%;

    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    position: relative;
}

.heartIcon{
    width: 5%;
    height: 5%;
    margin-left: 2%;
    color: #2399AA;
    /* position: absolute;
    right: 0; */
}

.conteudo{
    max-width: 90%;
}


h3{
    font-size:x-large;
    font-weight:bold;
}

img{
    width: 50%;
    height: auto;
    box-shadow: 2px 5px 8px #888888;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.comentarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}

.comentTopo{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.iconAdd{
    color: #2399AA;
    width: 4%;
    height: auto;
    margin-left: 2%;
    margin-bottom: 0.5%;
/* 
    width: 5%;
    height: 5%;
    margin-left: 2%;
    color: #2399AA; */
}

label{
    font-size: 2.5rem;
}

.comentBlock{
    width: 100%;
    min-height: 18rem;
    background-color: white;
    margin-top: 8%;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 2px 5px 8px #9b9b9b;
}