.header {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    margin: 0;
    height: 8vh;

    background-color: #2E2E2E;
    color: white;
}

.logo {
    position: absolute;
    left: 0;
    width: 8vh;
    height: 8vh;
    background-color: aqua;
    /* margin-top: 19vh; */
}

.eltec {
    font-size: 2.6rem;
}

.azul {
    background-color: '#2399AA';
}