footer , nav , ul {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: sticky;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 4rem;
    width: 100vw;

    background-color: #2E2E2E;
    color: white;
    font-size: 3.8rem
}

li , .footer_itens , .footerHome , .footerProfile , .footerFavorites{
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #2398aa00;
    color: #2399AA;
    /* border: 0; */
    font-size: 60%;
}

li {
    width: 33.33%;
}

.footerProfile {
    /* border-left: 20px;
    border-right: 2px; */
    border-style:solid;
    border-top: 0;
    border-left:30px;
    border-color: snow;
    background-color: #ff0000;
}

.footer_itens:hover {
    background-color: #181818;
}

.selected {
    background-color: crimson;
}