.footer , .footer a{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: sticky;
    bottom: 0;

    height: 4rem;

    background-color: #2E2E2E;
}


    .footer a {
    width: 33.33%;

    color: #2399AA;
    font-size: 2.2rem;
}


.footerProfile {
    z-index: 1;

    font-size: 2.1rem;
    /* box-shadow: 0px 0px 2px 0.5px rgba(255, 255, 255, 0.144); */
}

.footerSearch {
    font-size: 2.3rem;
    font-weight: bold;
}

.footer a:hover {
    background-color: #252525;
}





@media (min-width:1024px){
    
    .footer {

        flex-direction: column;


        height: 92vh;
        width: 4vw;
    }

    .footer a {
        height: 33.33%;
        width: 100%;
    }

    .footerProfile {
        box-shadow: 0px 0px 2px 0.5px rgba(255, 255, 255, 0.144);
    }
}
