.footer,
.footer a ,
.footerEditProfile {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: sticky;
    bottom: 0;

    height: 4rem;

    background-color: #2E2E2E;
}


.footer a {
    width: 50%;

    color: #2399AA;
    font-size: 2.2rem;
}


.footerProfile {
    z-index: 1;

    font-size: 2.1rem;
    /* box-shadow: 0px 0px 2px 0.5px rgba(255, 255, 255, 0.144); */
}

.EditProfileDiv {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    color: #2399AA;
}

.check {
    margin-left: 20px;
}

.footerEditProfile:hover {
    cursor: pointer;
    background-color: #1a1a1a;
}

.footerSearch {
    font-size: 2.3rem;
    font-weight: bold;
}


.footer:hover {
    cursor: pointer;
}

.footer a:hover {
    background-color: #252525;
}





@media (min-width:1024px) {

    .footer ,
    .footerEditProfile {

        /* position: fixed; */
        position: fixed;
        left: 0;
        bottom: 0;
        flex-direction: column;
        height: 92vh;
        width: 4vw;
    }

    .footer a {
        height: 50%;
        width: 100%;
    }

    .footerProfile {
        box-shadow: 0px 0px 2px 0.5px rgba(255, 255, 255, 0.144);
    }
/* 
    .footerEditProfile {
    } */
    
    .EditProfileDiv {
        height: 4vw;
        transform: rotate(-90deg);
    }
    .EditProfileDiv:hover {
        background-color: #25252500;
        cursor: pointer;
    }
    .check {
        position: absolute;
        right: -100px;
    }

}