

.comentarios {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-top: 5%;
    margin-bottom:3%;
    border-radius: 20px;

    background-color: white;
    box-shadow: 2px 5px 8px #9b9b9b;

}

.topo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;

    font-size: 25px;

    margin-top:10px;
    margin-bottom:10px;
}

.iconAdd{
    color: #2399AA;
    width: 45px;
    height: auto;
    margin-left: 2%;
    margin-bottom: 0.5%;
    cursor: pointer;
}

.iconAdd:active {
    color: #107787;
}



.newComment {
    position: relative;
    box-sizing:border-box;                  /*Ajuda a não quebrar, não deixa o elemente ser maior que o elemento-pai*/
    
    display: none;
    flex-direction: column;
    align-items: center;

    width: 98%;
    min-height: 150px;
    
    margin-bottom: 3%;

    border-radius: 20px;
    box-shadow: 2px 5px 8px #a5a5a5;
    background-color: rgb(234, 234, 234);
}

.conteudo {
    box-sizing:border-box;
    resize: none;
    width: 98%;
    min-height: 100px;
    margin: 2%;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: transparent;

    font-size:20px
}

.comentarBtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    Height: 40px;
    
    border: none;
    border-radius: 17px;
    margin-top: 70px;

    background-color: #2399AA;
    color: #fff;
    font-size: 20px;
    
    z-index: 2;
}

.comentarBtn:hover {
    cursor: pointer;
    background-color: #128697;
}


.Allcomentarios {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    margin-bottom:3%;
    border-radius: 20px;



}


/*                                                          Style do comentario dinamico (esse não é usado diretamente)  */


.individual {
    position: relative;
    box-sizing:border-box;                  /*Ajuda a não quebrar, não deixa o elemente ser maior que o elemento-pai*/
    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 96%;
    min-height: 150px;
    
    margin-bottom: 3%;

    border-radius: 20px;
    box-shadow: 2px 5px 8px #a5a5a5;
    background-color: rgb(234, 234, 234);
}

.userInfos {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50%;

    margin-top: 10px;
}

.fotoPerfil {
    box-sizing:border-box;


    width: 10%;
    height: auto;

    /* background-color:blueviolet */
}

.headerComentario {
    
    box-sizing:border-box;
    width: 80%;
    height: 100%;
    background-color:rgb(26, 255, 0);
    
    /* width: 90%;          usada quando não tem fotoPerfil*/
}

.nomes {
    box-sizing: border-box;
    width: 100%;
    /* margin-right: 10px; */
    padding-right: 4%;
    margin-top: 10px;
    margin-bottom: 0;
}

.infoPostComment {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.email , .data{
    margin: 0;
    margin-top: 10px;
    color: gray
}

.texto {
    
    width: 88%;
    height: 50%;

    margin: 2%

}


@media (max-width:1024px) {
    
    .comentarios {
        width: 90%;
    }

    .individual {
        width: 94%;
        margin-bottom: 6%;
    }
}
