body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    
    background-color: aquamarine;

}

.editor {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 50%;

background-color: blue;
}