body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    /* margin-top: 20%; */
    margin-left: 4.5vw;
    margin-right: 0.5vw;
    right: 0;
    

    
    /* background-color: blanchedalmond; */

}

.tela{
  height: 100%;
}

.editor {
  /* position: sticky; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    width: 100%;
    margin-top: 10%;
    background-color: rgb(115, 255, 0);
}

.btn{
  position: fixed;
  top: 90%;
  left: 90%;
  width: 6%;
  height: 6%;
  border-style: none;
  border-radius: 10px;
  background-color: #2E2E2E;
  font-weight:700;
  color: #2399AA;
  box-shadow:1px 2px 3px 0px #969696 ;
}

.btn:hover{
  cursor: pointer;
  background-color: #252525;
}

.btn:active{
  box-shadow:0px 0px #2E2E2E ;

}

@media (max-width:1024px){
  .container-NP{
    min-height: 82vh;
  }
}

