body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 95vw;
  min-height: 84vh;

  margin-left: 4vw;
}

.editor {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 90%;
  margin-top: 20px;
  /* background-color: #E5E5E5; */
}





@media (max-width:1024px) {
  .container {
    width: 100%;
    margin-left: 0vw;
  }
}