body {
    margin: 0;
}
.tela .container-NP{
    display: flex;
    justify-content:center ;
    align-items: center;
    width: auto;
    height: 100%;

}

.container-NP {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100px;

    
    background-color: blanchedalmond;

}

.editor {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 50%;
    margin-left: 5vw;

    margin-top: 10vh;
    

background-color: aliceblue;
}

.footerNP{
    z-index: 2;
}

