body {
    margin: 0;
}

.container-NP {
    /* display: block; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* min-height: 5vh; */
    width: auto;

    
    /* background-color: blanchedalmond; */

}

.tela{
  height: 100%;
}

.editor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 4.5vw;
    margin-right: 0.5vw;
    
    /* background-color: aliceblue; */
}

button{
  position: fixed;
  top: 90%;
  left: 90%;
  width: 6%;
  height: 6%;
  border-style: none;
  border-radius: 10px;
  background-color: #2399AA;
}

@media (max-width:1024px){
  .container-NP{
    min-height: 82vh;
  }
}

